.container-all {
  background: skyblue;
  height: 636px;
  .container-form {
    background: linear-gradient(to right, #45a247, #283c86);
    height: 50%;
    width: 35%;
    position: relative;
    left: 65%;
    top: 25%;
    form {
      display: flex;
      flex-direction: column;
      margin: 1%;
      height: 100%;
      .user {
        width: 96%;
        background: #283c86;
        margin: 2%;
        height: 20%;
        label {
        }
        input {
          width: 90%;
          margin: 2%;
        }
      }
      .email {
        width: 96%;
        background: #fff;
        margin: 2%;
        height: 20%;
      }
      .password {
        width: 96%;
        background: crimson;
        margin: 2%;
        height: 20%;
      }
      .bottom {
        background: darkgoldenrod;
        width: 20%;
      }
    }
  }
}
