.container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: grid;
  text-align: center;

  grid-template-areas: "uno tres" "dos cuatro";
}
#uno {
  background: rgb(51, 50, 50);
  color: wheat;
  width: 100%;
  height: 50vh;
  grid-area: uno;
}
#dos {
  background: red;
  width: 100%;
  grid-area: dos;
  height: 50vh;
}
#tres {
  background: green;
  width: 100%;
  height: 50vh;
  grid-area: tres;
}
#cuatro {
  background: orange;
  width: 100%;
  height: 50vh;
  grid-area: cuatro;
}
